{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Login and Register</h3>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
      <h3>Password reset has been completed</h3>
      <p>
        Your password has been set. You may go ahead and <a href="{% url 'AuthenticationUrls:login' %}">sign in</a> now.
      </p>
  </div>
  {% endblock content %}