{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Change password</h3>
        </div>
      </div>
    </div>
  </div>
  {% if validlink %}
    <form method="post">
        {% csrf_token %}
        <div style="text-align: center;">
            <h3>Change password</h3><br>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul><br>
            <p style="color: red;">{{ form.errors }}</p>

            <input type="password" name="new_password1" id="id_new_password1"><br><br>
            <input type="password" name="new_password2" id="id_new_password2"><br><br>
            <button type="submit">Change password</button>
        </div>
    </form>
  {% else %}
    <div style="text-align: center;">
        <h3>URL Session Expired or Used Error</h3>
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
    </div>
  {% endif %}
  {% endblock content %}